{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Your cart</h1>

    {% for item in cart %}
        <h2>{{ item.product.name }} x {{ item.quantity }}</h2>
        <a href="{{ path('cart_remove_all', {id: item.product.id}) }}">remove</a>
    {% endfor %}
</div>
{% endblock %}
