
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/
/public/uploads/categories/*
/public/uploads/products/*

!/public/uploads/categories/.gitkeep
!/public/uploads/products/.gitkeep